@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("../public/assets/fonts/Poppins-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Poppins Black";
    src: url("../public/assets/fonts/Poppins-Black.woff") format("woff");
  }

  @font-face {
    font-family: "TASA Orbiter";
    src: url("../public/assets/fonts/TASAOrbiterVF.woff2") format("woff2"),
      url("../public/assets/fonts/TASAOrbiterVF.woff") format("woff");
  }

  @font-face {
    font-family: "Doto";
    src: url("../public/assets/fonts/Doto_Rounded-Black.woff") format("woff");
  }
}
